<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/leaf"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentTwo"
        tools:targetApi="31">
        <activity
            android:name=".activity.SiteDetailsForOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreatedSiteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JoinedSiteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SiteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SitesOnMap"
            android:exported="false" />
        <activity
            android:name=".activity.FindSiteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SiteCenterActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJOKhGBRS9jIjnfUVecVzDCBUmMDnL7KI" />

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreateSiteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LocationPickerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>